@use 'variables' as *;

.code {
  position: relative;
  background: #0c1526;
  border: 1px solid rgba(255,255,255,0.06);
  color: #e6f3ff;
  padding: 14px;
  padding-top: 40px;
  border-radius: 14px;
  overflow: auto;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.02);
}

pre, code { font-family: $mono; }

.details {
  background: #0e1830;
  border: 1px solid rgba(255,255,255,.08);
  padding: 14px;
  border-radius: 14px;
}